In [16]:
# Gender,Age,Occupation,Student Status,Average Grade (Expect),Average ECTS (Expect),ECTS Summer,ECTS Winter,Grade Summer (AVG),Grade Winter (AVG)


import pandas as pd
import numpy as np
from pathlib import Path

In [17]:
file_path = Path('../data.csv')
if file_path.exists():
	df = pd.read_csv(file_path)
	print(df)
else:
	print(f"File {file_path} does not exist.")

df

File ../data.csv does not exist.

,Gender,Age,Occupation,Student Status,Average Grade (Expect),Average ECTS (Expect),ECTS Summer,ECTS Winter,Grade Summer (AVG),Grade Winter (AVG)
0,männlich,28.0,Student (mit Job),derzeit studierend (2. Semester oder höher),leicht besser im Wintersemester,leicht höher im Wintersemester,24,30,1.30,1.54
1,männlich,26.0,Student (mit Job),derzeit studierend (2. Semester oder höher),leicht besser im Wintersemester,leicht höher im Wintersemester,36,30,2.0,2.00
2,weiblich,23.0,Student (ohne Job),derzeit studierend (2. Semester oder höher),leicht besser im Sommermemester,leicht höher im Sommersemester,43,36,1.9,2.30
3,männlich,24.0,Student (mit Job),derzeit studierend (1. Semester),NaN,NaN,NaN,NaN,NaN,NaN
4,männlich,26.0,Student (mit Job),derzeit studierend (2. Semester oder höher),gleich,leicht höher im Sommersemester,30,30,2.0,2.00
...,...,...,...,...,...,...,...,...,...,...
64,female,21.0,Student (with a job),currently studying (2nd semester or higher),slightly better in the summer semester,slightly higher in the summer semester,30,24,1.5,1.80
65,female,23.0,Student (with a job),currently studying (2nd semester or higher),slightly better in the summer semester,slightly higher in the summer semester,30,27,1.3,1.50
66,male,20.0,Student (with a job),currently studying (2nd semester or higher),slightly better in the summer semester,slightly higher in the summer semester,30,30,1.8,1.90
67,female,21.0,Student (with a job),currently studying (2nd semester or higher),slightly better in the summer semester,slightly higher in the summer semester,33,30,1.8,1.66
68,NaN,NaN,NaN,NaN,NaN,NaN,"26,55555556","26,68518519","2,5",2.00

In [18]:
df.describe()

             Age  Grade Winter (AVG)
count  68.000000           55.000000
mean   23.691176            1.898182
std     3.355803            0.495454
min    18.000000            1.000000
25%    21.000000            1.570000
50%    23.000000            2.000000
75%    25.000000            2.170000
max    38.000000            3.200000

In [19]:
df.groupby("Occupation").describe()

                          Age                                                \
                        count       mean       std   min   25%   50%    75%
Occupation
Student (mit Job)        44.0  23.977273  2.968741  19.0  22.0  24.0  25.25
Student (ohne Job)        7.0  21.142857  2.115701  18.0  19.5  22.0  23.00
Student (with a job)      8.0  22.125000  1.356203  20.0  21.0  22.5  23.00
Student (without a job)   5.0  22.200000  1.643168  21.0  21.0  22.0  22.00
Unbeschäftigt             1.0  27.000000       NaN  27.0  27.0  27.0  27.00
Vollzeitbeschäftigt       3.0  31.000000  6.082763  27.0  27.5  28.0  33.00

                              Grade Winter (AVG)                            \
                          max              count      mean       std   min
Occupation
Student (mit Job)        34.0               36.0  1.835556  0.431108  1.00
Student (ohne Job)       23.0                3.0  1.516667  0.678847  1.10
Student (with a job)     24.0                8.0  2.077500  0.484672  1.50
Student (without a job)  25.0                3.0  2.366667  0.723418  1.90
Unbeschäftigt            27.0                1.0  2.000000       NaN  2.00
Vollzeitbeschäftigt      38.0                3.0  2.016667  0.889288  1.05


                           25%   50%    75%  max
Occupation
Student (mit Job)        1.530  1.94  2.100  2.7
Student (ohne Job)       1.125  1.15  1.725  2.3
Student (with a job)     1.765  1.99  2.270  3.0
Student (without a job)  1.950  2.00  2.600  3.2
Unbeschäftigt            2.000  2.00  2.000  2.0
Vollzeitbeschäftigt      1.625  2.20  2.500  2.8

In [20]:
df.groupby("Gender").describe()

           Age                                                      \
         count       mean       std   min   25%   50%    75%   max
Gender
female     8.0  21.750000  0.886405  21.0  21.0  21.5  22.25  23.0
male       5.0  22.800000  1.923538  20.0  22.0  23.0  24.00  25.0
männlich  37.0  24.810811  3.886142  18.0  23.0  24.0  26.00  38.0
weiblich  18.0  22.500000  2.229482  19.0  21.0  22.5  24.00  27.0

         Grade Winter (AVG)
                      count      mean       std  min    25%   50%   75%   max
Gender
female                  8.0  2.092500  0.542158  1.5  1.765  1.95  2.27  3.20
male                    3.0  2.326667  0.590028  1.9  1.990  2.08  2.54  3.00
männlich               30.0  1.796333  0.530039  1.0  1.325  1.90  2.13  2.80
weiblich               13.0  1.906923  0.313459  1.3  1.780  2.00  2.10  2.33